div.foto-preview {
  margin: auto;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

div.foto-profil {
  margin: auto;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

img.foto-profil {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}


div.sampul-preview {
  margin: auto;
  height: 284px;
  width: 160px;
}

div.sampul-rinci {
  margin: auto;
  height: 412px;
  width: 232px;
}

img.sampul {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

th {
  vertical-align: middle;
}